<% provide(:title, 'ALL Users') %>
<h1>ユーザー一覧</h1>

<div class = "col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class = "table tabel-condensed table-hover" id = "table-users">
  <!--テーブルの各セルにボーダー(線)を付ける、condensed：通常よりも幅の狭いテーブル(=table-sm)-->
    <thead>
      <tr>  <!--trは表の横部分の指定を行う。-->
        <th>  <!--thで縦の部分の指定を行う。-->
          <%= User.human_attribute_name :name %>
        </th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td>  <!--tdで縦の部分の指定を行う。-->
          <%= link_to user.name, user %>
        </td>
        <td>
          <% if current_user.admin? && !current_user?(user) %>
          <!--ログインユーザーがadminの場合かつ、一般ユーザーでない場合-->
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？"},
                class: "btn btn-danger" %>
          <!--削除ボタン 対象はeach分の変数(user)、メソッドはdelete-->      
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>