<% provide(:title, 'All Users') %>
<h1><%= "ユーザー一覧" %></h1>

<div>
  <!--<div class = "col-md-3 form-inline pull-left">-->
  <!--ユーザー名部分検索機能-->
    <%= form_tag import_users_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "CSVをインポート", class: "btn btn-primary btn-csv-import" %>
    <% end %>
</div>

<div class = "users-index">
  <!-- condensed：通常よりも幅の狭いテーブル(=table-sm)-->
  <% @users.each do |user| %>
    <div class = "users-index-name">
      <% if current_user.admin? %>
      <!--各ユーザー勤怠編集画面へのリンク／基本情報編集画面へのリンク／削除機能ボタン。tdで縦の部分の指定を行う。-->
        <%= user.name %>
      <% end %>
    </div>
    <div>
      <% if current_user.admin? %>
        <%= link_to "削除", user, method: :delete, data: { confirm: "#{user.name}を削除してよろしいですか？"},
        class: "btn btn-md btn-primary btn-users-index-delete"%>
      <% end %>
    <div class = "panel-group">
      <div class = "panel panel-default">
        <div class = "panel-heading">
          <% if current_user.admin? %>
            <button type = "button" data-toggle = "collapse" data-target = "#" class = "btn btn-lg btn-primary collapsed" aria-expanded = "fales" %>
              <%= "編集" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>