<% provide(:title, @user.name) %>
<div>
  <!--テーブルの各セルにボーダー(線)を付ける、condensed：通常よりも幅の狭いテーブル(=table-sm)-->
  <table class = "table table-bordered table-condensed user-table" id = "table-attendances">
    <tr>  <!--「table row」の略で表の行部分(横方向)を指定するタグ。この中に<<th>や<td>を入れる-->
      <td>
        <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-sm btn-primary" %>
        <%= "　" %>
        <%= l(@first_day, format: :middle) %>　時間管理表
        <!--lメソッドで日時のフォーマットを指定(middle：〇年△月)-->
        <%= "　" %>
        <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-sm btn-primary" %>
      </td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan = "3">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
      <!--lメソッドで日時のフォーマットを指定(short：月/日)-->
    </tr>
    
    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <!-- present?：審議判定メソッド。@userのdepartmentカラムに値が入っている場合にはtrue、ない場合にはfalsを返す-->
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.id %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
      <!--lメソッドで日時のフォーマットを指定(月/日)-->
    </tr>
  </table>
</div>

<div class = "btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-md btn-primary btn-attendance" %>
</div>

<div>
  <table class = "table table-bordered table-condensed table-hover" id = "table-attendances">
    <thead>
      <tr>
        <th rowspan = "2">日付</th>
        <th rowspan = "2">曜日</th>
        <th colspan = "2">出社</th>
        <th rowspan = "2">勤怠登録</th>
        <th colspan = "2">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>

          <% if $days_of_the_week[day.worked_on.wday] == "土" %> 
            <% week_text = "saturday" %>
          <% elsif $days_of_the_week[day.worked_on.wday] == "日" %> 
            <% week_text = "sunday" %>
          <% else %> 
            <% week_text = "weekday" %>
          <% end %>
          <td class = "<%= week_text %>">
            <%= $days_of_the_week[day.worked_on.wday] %></td>
          <!--eachメソッドの変数(day)を使用し、wdayメソッドで曜日に相当する数字(日曜日から始まり0から数える)を取得-->
          <!--$days_of_the_weekはapplication_controllerで配列(0：日曜日～6：土曜日)で定義されている。-->

          <td><%= day.started_at.hour if day.started_at.present? %></td>
          <td><%= day.started_at.min if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
              <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-block btn-attendance" %>
            <% end %>
          </td>
          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td><%= day.finished_at.min if day.finished_at.present? %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan = "3">累計日数</td>
        <td colspan = "3">総合勤務時間</td>
        <td colspan = "3">累計在社時間</td>
      </tr>
      <tr>
        <td colspan = "3"><%= @attendances.count %></td>
        <td colspan = "3"><%= format_basic_info(@user.work_time).to_f*@worked_sum %></td>
        <td colspan = "3"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
  </table>
</div>