<!--上長ユーザーが一ヶ月分の勤怠承認を実行するモーダルウィンドウ-->
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <%= form_with(url: month_approvals_update_month_approvals_path, local: true, method: :patch) do |f| %>
          <% @month_approvals.each do |user_group_id, month_approvals| %>
            <% user = User.find_by(id: user_group_id) %>
              <h3 class = "modal-title"><%= "【#{user.name}さんからの一ヶ月分勤怠申請】" %></h3>
                <table class = "table table-bordered table-condensed table-bases" id = "table-modal">
                  <thead>
                    <tr>
                      <th>月</th>
                      <th>指示者確認㊞</th>
                      <th>変更確認</th>
                      <th>勤怠を確認する</th>
                    </tr>
                  </thead>
                    <% month_approvals.each do |month_approval| %>
                      <%= f.fields_for "month_approvals[]", month_approval do |i| %>
                        <tbody>
                          <tr>
                            <td>
                              <% extract_approval_month = month_approval.approval_month %>
                              <%= "#{extract_approval_month.mon}月" %>
                            </td>
                            <td>
                              <%= i.select :approval_status, [["申請中", "1"], ["承認", "2"],["否認", "3"], ["なし", "4" ]], 
                                  {}, {required: true, class: "month-approval-form-control"} %>
                              <!--オプション設定をする個所を{}で囲むことでclass指定が可能となる。但し、強制的に空欄が選択肢に入る。-->
                              <!--{select機能のオプション(include_blank等} {htmlのオプション(id、class等)}の順番で書く。-->
                              <!--select機能のオプションは使用しないため空欄としている。-->
                            </td>
                            <td>
                              <%= i.label "変更する" %>
                              <%= i.check_box :change_ok %>
                            </td>
                            <td>
                              <%= link_to "確認", reference_month_approval_user_url(month_approval),
                                  class: "btn btn-md btn-primary btn-attendance-monitor"%>
                            </td>
                          </tr>
                        </tbody>
                      <% end %>
                    <% end %>
                </table>
          <% end %>
          <%= f.submit "変更を送信する", class: "btn btn-md btn-primary btn-block btn-approval"%>
        <% end %>
    </div>
  </div>
</div>