<% provide(:title, 'Update BasicTime') %>
<h1>基本情報の更新</h1>

<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <%= render 'shared/error_messages', object: @user %>
      <%= f.label :basic_time, class: "label-update" %>
      <%= f.time_field :basic_time, class: "form-control" %>
            
      <%= f.label :work_time, class: "label-update" %>
      <%= f.time_field :work_time, class: "form-control" %>
            
      <div class = "center">
        <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-update" %>
      </div>
    <% end %>
  </div>
</div>