<header class = "navbar bavbar-fixed-top navbar-inverse"> <!--ページ上部にある要素-->
<!--bs fixed-top：ビューポートの上部に端から端まで配置。nav-inverse：黒い色のナビゲーションバー-->
  <div class = "container">
    <%= link_to "勤怠システム", '#', id: "logo" %>
      <nav>
        <ul class = "nav navbar-nav navbar-right">
        <!--テキストを右寄せに指定-->
          <% if logged_in? && current_user.admin? %>
            <li><%= link_to "トップへ", current_user %></li>
            <li><%= link_to "ユーザー一覧", users_path %></li>
            <li><%= link_to "出勤中社員一覧", working_members_users_path %></li>
            <li><%= link_to "拠点情報一覧", bases_path %></li>
            <li><%= link_to "基本情報の更新", '#' %></li>
            <li class = "dropdown"> <!--bsのドロップダウン機能を使用するためdropdownクラスを指定-->
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> <!--dropdown-toggle：クラス名として指定。トグルボタン、なくてもOK、入れると矢印ついてくる。-->
                                                                                <!--data-toggle：オプション名として指定。ドロップダウンの起動ボタン。必須。デフォルトでdropdown-->
                <%= current_user.name %><b class = "caret"></b> <!--caret：ドロップダウンボタンに使用しキャレットアイコン（▼）を表示するクラス。-->
              </a>
              <ul class = "dropdown-menu">
                <li><%= link_to "アカウント情報の更新", edit_user_path(current_user) %></li>
                <li class = "devider"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </li>
              </ul>
          <% elsif logged_in? %>
            <li><%= link_to "ホーム", current_user %></li>
            <li class = "dropdown"> <!--bsのドロップダウン機能を使用するためdropdownクラスを指定-->
              <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> <!--dropdown-toggle：クラス名として指定。トグルボタン、なくてもOK、入れると矢印ついてくる。-->
                                                                                <!--data-toggle：オプション名として指定。ドロップダウンの起動ボタン。必須。デフォルトでdropdown-->
                <%= current_user.name %><b class = "caret"></b> <!--caret：ドロップダウンボタンに使用しキャレットアイコン（▼）を表示するクラス。-->
              </a>
              <ul class = "dropdown-menu">
                <li><%= link_to "アカウント情報の更新", edit_user_path(current_user) %></li>
                <li class = "devider"></li>
                <li>
                  <%= link_to "ログアウト", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "ホーム", root_path %></li> <!--「li」とは「list item」の略で、リストの項目を表示するために使用するタグ-->
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </nav>
  </div>
</header>